body {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    font-family: open-sans;

}

header {
    text-align: center;
    background-image: url("images/sky.jpeg");
    background-position: 0 35%;
    padding: 0 2em;

}

header h2 {
    font-size: 3em;
    font-family: 'Indie Flower', cursive;
    color: black;
    margin: 0;
    padding: 2em 0;
    /*Padding ist innerhalb vom Element, 1. Wert für oben/unten, 2.Wert für rechts/links*/
}

header h3 {
    font-size: 2em;
    margin: 0;
    text-decoration: underline;
    /* Margin vom obersten Element auf 0*, wenn das Element ganz oben an der Seite angrenzen soll*/
}

header h4 {
    font-size: 0, 75em;
    color: red;

}

.author {
    text-align: center;
}

.author img {
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -30px;
    font-family: 'Courier New', Courier, monospace;

}

address a {
    color: gray;
    font-size: 20px;
}

main {
    width: 70%;
    margin: auto;
}

.cabins h3{
    color: lightgray;
    text-align: center;
    text-decoration: underline;
    
}

.fas fa-arrows-alt-v {
    color: red;
    float: left;
    margin-left: -5em;
}

main figure {
    margin-left: 0;
    /*damti das Bild auf den gleichen Rad hat wie der Text im <main>-Element*/
    /* strg k+c kommentieren, srtg k+c auskommentieren */
}

main figcaption {
    float: left;
    margin-left: -9em;
    width: 9em;
    color: grey;
    padding: 1em;

}

main figcaption fas fa-camera {
    font-size: 20px;
}

main figure img {
    width: 100%;
}

#map {
    height: 360px;
    width: 90%;
    border: 1px solid black;
}

.back {
    float: left;
}

.fas fa-arrow-circle-down {
    text-align: center;
    color: red;
}

.next {
    float: right;
}


footer {
    margin: 3em;
    padding: 1em 3em 0;
}

@media only screen and (max-width: 900px) {

    /* wenn der buldschirm schmaler als 900px ist, dann springt die Caption über das Bild*/
    main figure figcaption {
        float: none;
        margin-left: 0;
        width: auto;
    }
}

#elevation-div {
    width: 90%,
    height: 200px,
}